/*--------------------LEADERBOARDS--------------------*/
table{
    color: #ebebeb;
    margin: auto;
    width: 80%;
}
table th{
    background: #242E35;
    text-align: left;
    width: 5%;
    padding: 1% 0 1% 1%;
    border-radius: 5px;
    position: relative;
}
table th:first-child{
    width: 3%;
    text-align: center;
    padding-left: 0;
}
table th:nth-child(2){
    width: 30%;
}
table td{
    background: #242E35;
    border-radius: 5px;
    padding: 0.5% 0 0.5% 1%;
}
table td:first-child{
    text-align: center;
    padding: 0.5% 0 0.5% 0%;
}
.arrow {
    border: solid #FBE204;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.2s;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrow:hover{
    opacity: 20%;
  }