.rounds{
    display: flex;
    flex-direction: column-reverse;
}
.round{
    width: 80%;
    margin: 2% auto;
    position: relative;
    background: #242E35;
    color: #ebebeb;
    border-radius: 15px;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
}
.round h2{
    order: 1;
    background-color: #1f252b;
    border-radius: 10px;
    padding: 2% 0;
}

.match{
    margin: 1% 0;
    border-radius: 18px;
    border: 6px solid #333a3d;
}
.match-info{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    border-radius: 10px;
    background: #242E35;
    transition: 0.3s;
    position: relative;
}

.match-stats{
    background: #333a3d;
    justify-content: space-around;
    padding: 5% 0 4% 0;
    margin-top: -2%;
    z-index: -1;
    border-radius: 0 0 10px 10px;
}
.result{
    color: #FBE204;
    position: absolute;
    display: flex;
}


/*---------------ADMIN--------------*/
.result form{
    color: #FBE204;
    display: flex;
    justify-content: center;
}

.result form input {
    width: 10%;
    background-color: #ebebeb;
    font-weight: 700;
    font-size: 14px;
    color: #242E35;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    margin: 0 2%;
    text-align: right;
}
.result form input[placeholder]{
    text-align: right;
}

