.rounds{
    display: flex;
    flex-direction: column-reverse;
}
.round{
    width: 80%;
    margin: 2% auto;
    position: relative;
    background: #333a3d;
    color: #ebebeb;
    border-radius: 20px;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
}
.round h2{
    order: 1;
    background-color: #1f252b;
    border-radius: 10px;
    padding: 2% 0;
}

.match{
    margin-top: 1%;
    border-radius: 18px;
    background: #1f252b;
}
.match-info{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    border-radius: 18px;
    background: #242E35;
    transition: 0.3s;
    position: relative;
}
.match-info p{
    position: absolute;
    background-color: #1f252b;
    padding: 1%;
    margin: 0;
    position: absolute;
    left: 1%;
    top: 50%;
    border-radius: 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.result{
    color: #FBE204;
    position: absolute;
    display: flex;
}
.match-stats{
    background: #1f252b;
    padding: 5% 0 4% 0;
    margin-top: -2%;
    z-index: -1;
    border-radius: 0 0 10px 10px;
    margin:0 auto;
    width: 80%;
}
.goal{
    display: flex;
    margin: 2%;
    width: 82%;
    margin: 0.5% auto;
    padding: 1%;
    border-bottom: 2px solid #242E35;
}
.goal h4{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.g-away {
    flex-direction: row-reverse;
}
@media only screen and (max-width: 800px) {
    .round {
        width: 90%;
    }
}



/*---------------ADMIN--------------*/
.result form{
    color: #FBE204;
    display: flex;
    justify-content: center;
}

.result form input[type='number'] {
    width: 10%;
    background-color: #ebebeb;
    font-weight: 700;
    font-size: 14px;
    color: #242E35;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px;
    margin: 0 2%;
    text-align: right;
}
.result form input[placeholder]{
    text-align: right;
}
.result form button {
    width: 8%;
    background-color: #FBE204;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
} 
.result form button:hover {
    opacity: 0.75;
}

.goal input[name='minute']{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.match-stats form{
    margin: -2% 0 2% 0;
}
.match-stats form input,.match-stats form select,.match-stats form button{
    width: 22%;
    background-color: #ebebeb;
    color: #242E35;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px;
    margin: -2% 0 2% 0;
    padding: 1%;
}
.match-stats form input{
    width: 12%;
}
.match-stats form button{
    width: 12%;
    background-color: #FBE204;
    cursor: pointer;
}
.match-stats form button:hover{
    opacity: 0.75;
}
.match-stats #delete{
    color: #FBE204;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 2%;
}
.goal #delete:hover{ 
    opacity: 0.75;
}