/*--------------------SCORERS--------------------*/
.scorers-container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5% auto;
    position: relative;
}
.player-stats{
    background: #242E35;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    color: #ebebeb;
    margin: 1%;
    padding: 1% 2%;
    border-radius: 15px;
    grid-column: span 1;
    position: relative;
    transform: scale(0.95 , 0.95);
}
.player-stats h2{
    font-size: 16px;
}
.player-stats h3{
    margin: 0;
    color: #FBE204;
    font-size: 16px;
    font-weight: lighter;
}
.player-goals h1{
    font-size: 2em;
}
.player-goals p{
    font-size: 12px;
    color: #FBE204;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.player-stats:nth-child(-n+4) {
    background: #333A3D;
    transform: none;
    grid-column: span 1;
    margin: 1%;
    padding: 4%;
}
.player-stats:nth-child(-n+4) h2{
    font-size: 24px;
}
.player-stats:nth-child(-n+4) h3{
    font-size: 18px;
    margin: 4% 0;
}
.player-stats:nth-child(-n+4) .player-goals{
    position: relative;
}
.player-stats:nth-child(-n+4) .player-goals h1{
    font-size: 4em;
}
.player-stats:nth-child(-n+4) .player-goals p{
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    right: 3px;
    color: #FBE204;
}
@media (max-width: 1000px) {
    .scorers-container  { grid-template-columns: repeat(1, 1fr); }
}
@media only screen and (max-width: 800px) {
    .scorers-container {
        width: 90%;
    }
}
