/*--------------------SCORERS--------------------*/
.player-stats{
    background: #242E35;
    width: 80%;
    margin: 0 auto 2% auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    color: #ebebeb;
}
.player-goals h1{
    font-size: 4em;
}