*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #101010;
}
.nav-menu{
    position: relative;
    height: 8%;
    background-color: #1f252b;
    box-shadow: -20px -20px 30px rgba(49, 49, 49, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 25px 25px;
}

.nav-menu #logo{
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ebebeb;
    left: 3.5%;
    font-size: 48px;
    text-decoration: none;
}
.nav-menu #logo span{
    color: #FBE204;
}

.nav-menu ul{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-menu ul a{
    background-color: #333a3d;
    border-radius: 0 0 15px 15px;
    width: 20%;
    display: block;
    height: 100%;
    bottom: 0;
    margin: 0 0.2%;
    position: relative;
    text-decoration: none;
}

.nav-menu ul a li{
    text-align: center;
    font-weight: 700;
    color: #ebebeb;
    list-style: none;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-menu ul a:hover{
    background-color: rgba(51, 58, 61, 0.7);
}

/*--------------------SCORERS--------------------*/
.container{
    background-color: #1f252b;
    width:81%;
    height: 100vh;
    border-radius: 25px;
    margin: 4% auto 0 auto;
    padding: 4% 0;
}
table{
    color: #ebebeb;
    margin: auto;
    width: 80%;
}
table th{
    background: #242E35;
    text-align: left;
    width: 10%;
    padding: 1% 0 1% 1%;
    border-radius: 5px;
}
table th:first-child{
    width: 1%;
    text-align: center;
    padding-left: 0;
}
table td{
    background: #242E35;
    padding-left: 1%;
    border-radius: 5px;
    padding: 0.5% 0 0.5% 1%;
}
