*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #101010;
}

/*--------------------NAVBAR--------------------*/

.nav-menu{
    position: relative;
    height: 8%;
    background-color: #1f252b;
    box-shadow: -20px -20px 30px rgba(49, 49, 49, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 25px 25px;
}

.nav-menu #logo{
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ebebeb;
    left: 3.5%;
    font-size: 48px;
    text-decoration: none;
}
.nav-menu #logo span{
    color: #FBE204;
}

.menu-desktop ul{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu-desktop a{
    background-color: #333a3d;
    border-radius: 0 0 15px 15px;
    width: 20%;
    display: block;
    height: 100%;
    bottom: 0;
    margin: 0 0.2%;
    position: relative;
    text-decoration: none;
    overflow:hidden;
}

.menu-desktop ul a li{
    text-align: center;
    font-weight: 700;
    color: #ebebeb;
    list-style: none;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu-desktop ul a:hover{
    background-color: rgba(51, 58, 61, 0.7);
}

.menu-desktop ul a:after {
    background: none repeat scroll 0 0 #FBE204;
    border-radius: 0 0 150px 150px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 4px;
    left: 40%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu-desktop ul a:hover:after {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/*--------------------CONTAINER--------------------*/

.container{
    background-color: #1f252b;
    width:81%;
    min-height: 100vh;
    border-radius: 25px;
    margin: 4% auto;
    padding: 4% 0;
}
.container h1{
    font-size: 2em;
    color: #ebebeb;
    text-align: center;
    padding-bottom:4% ;
}

/*--------------------SCORERS--------------------*/

@media only screen and (max-width: 780px) {
    .menu-desktop{
        display: none;
    }
    .container {
        margin: 10% auto;
        padding: 10% 0;
    }
    .container h1{
        font-size: 1.5em;
        padding-bottom: 10%;
    }
}