.team-container{
    width: 80%;
    margin: 4% auto;
    position: relative;
}
.team-container:nth-child(2){
    margin-top: 0;
}
.team-container img{
    position: absolute;
    top: 0;
    right: 4%;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    opacity: 0.1;
    object-fit: cover ;
}
.team-container #open{
    text-decoration: none;
    color: #FBE204;
    font-size: 3em;
    font-weight: 600;
    position: absolute;
    right: 4%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    visibility: visible;
}
.team-container #open:after{
    position: absolute;
    right: 4%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    visibility: hidden;
    content: "-";
}

.team-info{
    background: #242E35;
    z-index: 2;
    color: #ebebeb;
    height: 20%;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
}
.team-desc{
    color: #ebebeb;
    position: absolute;
    margin: 0;
    left: 4%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.team-desc h2{
    font-size: 26px;
}

.team-players{
    border-radius: 0 0 15px 15px;
    background-color: #333a3d;
    width: 92%;
    margin-top: -12%;
    opacity: 0;
    z-index: -2;
    display: flex;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    padding: 8% 4% 4% 4%;
    justify-content: space-between;
}
.team-players h3{
    color: #ebebeb;
    border-bottom: 2px solid #FBE204;
    width: fit-content;
}
.team-players ul{
    display: none;
}
.team-players ul li{
    list-style: none;
    color: #ebebeb;
    margin: 0;
    margin-top: 20px;
}
.team-players span{
    color: rgba(255,255,255,0.3);
    font-weight: lighter;
}


.team-container:hover > .team-info{
    box-shadow: 0 10px 15px -10px rgba(1,1,1,0.5);
    transform: scale(1.05,1.05);
}

.team-container:hover > .team-players{
    margin-top: -4%;
    opacity: 1;
}
.team-container:hover > .team-players ul{
    display: block;
}

.team-container:hover.team-container #open{
    visibility: hidden;
}
.team-container:hover.team-container #open:after{
    visibility: visible;
}

/*--------------------QUERIES--------------------*/

@media only screen and (max-width: 1000px) {
    .team-container:hover > .team-players{
        display: block;
    }
    .team-players{
        padding-bottom: 14%;
    }
    .team-players ul{
        padding-top: 8%;
        text-align: center;
        line-height: 20px;
    }
    .team-players h3{
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
}
@media only screen and (max-width: 800px) {
    .team-container {
        width: 90%;
    }
}




/*------------------------ADMIN-------------------*/
.team-players button{
    position: absolute;
    right: 6%;
    bottom: 8%;
    padding: 8px 25px;
    background-color: #FBE204;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}
.team-players button:hover{
    opacity: 0.5;
}

.add-player, .add-team{
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 10;
    display: none;
}

.add-player-back, .add-team-back{
    background-color: rgba(0,0,0,0.75);
    filter: blur(20px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.add-player-form, .add-team-form{
    background-color: #1f252b;
    box-shadow: 0px 5px 25px 5px rgba(1,1,1,0.25);
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 5%;
}
.add-player-form a, .add-team-form a{
    text-decoration: none;
    color: #FBE204;
    position: absolute;
    left: 50%;
    bottom: 8%;
    padding: 1% 4%;
    border-radius: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.add-player-form a:hover, .add-team-form a:hover{
    text-decoration: underline;
}

.add-player-form p , .add-team-form p {
    text-align: center;
    color: #ebebeb;
    font-weight: bold;
    font-size: 2em;
}

.add-player-form form , .add-team-form form{
    padding-top: 40px;
}

.tm , .pn, .pa, .pp , .ta{
    width: 100%;
    color: #ebebeb;
    font-weight: 700;
    font-size: 14px;
    background-color: #333a3d;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 27px;
}
.pn:focus, .pa:focus , .ta:focus{
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
.submit {
    cursor: pointer;
    border-radius: 15px;
    background: #FBE204;
    border: 0;
    transition: 0.3s;
    margin: 0 auto;
    color: #1f252b;
    font-size: 13px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.submit:hover{
    opacity: 0.6;
}
#add{
    text-decoration: none;
    background: #FBE204;
    color: #1f252b;
    padding: 0 8px;
    font-size: 18px;
    border-radius: 5px;
    height: fit-content;
    transition: 0.2s;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
#add:hover{
    opacity: 50%;
}
.team-players #delete{
    color: #FBE204;
    text-decoration: none;
    font-weight: bolder;
}

/*--------------------QUERIES--------------------*/

@media only screen and (max-width: 780px) {
    .main {
        width: 70%;
        padding: 15% 5%;
    }
}
@media only screen and (max-width: 1000px) {
    .team-players button{
        bottom: 2%;
        right: -4%;
        margin-top: 50%;
        z-index: 10;
    }
}

